name: make-release
on: [push]
jobs:
  make-release:
    name:  make-release
    runs-on: ubuntu-latest
    steps:
      - name: handle zip and create cover  image file
        uses: okaku123/image2avif@master

      - name: make cover file as release
        uses: xresloader/upload-to-github-release@v1
        with:
           file: "index.js"
           tags: false
           draft: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

